# General
NODE_ENV=development

# Database
POSTGRES_DB=queuehcc
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:your_password_here@db:5432/queuehcc?schema=public

# Backend
BACKEND_PORT=3000

# Frontend
FRONTEND_PORT=5173
VITE_API_URL=http://localhost:3000

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=change_me
PGADMIN_PORT=8080